
@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Category", "index", "Category")</li>

    <li>@Html.ActionLink("Product", "Index", "Product")</li>
    <li> @Html.ActionLink("Order", "Index", "Order") </li>
    <li>@Html.ActionLink("OrderDetalis", "Index", "OrderDetails")</li>
</ul>